<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      internalLogLevel="Warn"
      throwConfigExceptions="true"
      internalLogFile="${specialfolder:folder=ApplicationData}/TuringMonitor/logs/nlog-internal.log">

	<extensions>
		<add assembly="Turing Monitor" />
	</extensions>

	<variable name="baseLayout"
	          value="${longdate} ${pad:padding=-5:inner=${uppercase:${level}}} | ${message}${onexception:${newline}${exception:format=tostring}}" />

	<targets>
		<target xsi:type="File" name="file"
		        fileName="${specialfolder:folder=ApplicationData}/TuringMonitor/logs/current.log"
		        layout="${baseLayout}" keepFileOpen="true" encoding="utf-8"
		        archiveFileName="${specialfolder:folder=ApplicationData}/TuringMonitor/logs/archive/{#}.log"
		        archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd"
		        maxArchiveFiles="30" />

		<target xsi:type="Console" name="consoleOut" layout="${baseLayout}" detectConsoleAvailable="true" />
		<target xsi:type="Console" name="consoleErr" layout="${baseLayout}" error="true" detectConsoleAvailable="true" />

		<target xsi:type="Debugger" name="debugger" layout="${baseLayout}" />

		<target xsi:type="Ui" name="ui"
		        layout="${date:format=HH\:mm\:ss}: ${message}${onexception: ${exception:format=message}}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Debug" writeTo="debugger" />
		<logger name="*" minlevel="Debug" maxlevel="Info" writeTo="consoleOut" />
		<logger name="*" minlevel="Warn" writeTo="consoleErr" />
		<logger name="*" minlevel="Info" writeTo="ui">
			<filters defaultAction="Log">
				<when condition="'${event-properties:item=ui}' == 'False'" action="Ignore" />
			</filters>
		</logger>
	</rules>
</nlog>
